.actions {
  margin-top: 5px;
  text-align: right;
}

.btn {
  &_primary {
    border-radius: 5px;
    padding: 10px 35px;
  }
}

.user-guide-container {
  margin-bottom: 42px;

  &__header {
    margin-bottom: 19px;
  }

  &__info {
    color: #8190a5;
    font-size: 16px;
    text-align: left;
    margin-bottom: 19px;
  }
}
