.metrix-table {
  margin-bottom: 20px;

  caption {
    background-color: #ffffff;
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    color: #47525e;
  }
  :deep(.table) {
    border-collapse: separate;
    border-spacing: 0;
    border-left: 1px solid $table-bg;
    border-right: 1px solid $table-bg;
    color: $primary;
    thead {
      th {
        border-top: 1px solid $table-bg;
        border-bottom: 1px solid $table-bg;
        background-color: #eff2f7;
      }
    }
    tbody {
      background-color: #ffffff;
      td {
        // text-align: center;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}
