.pdf-item {
  // margin: 0px 0px 0 120px;
  padding-top: 20px;
  page-break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  // position: relative;
  // left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.report-page {
  &__title {
    margin-bottom: 35px;
    &_button {
      float: right;
      font-family: Lato-Light, sans-serif;
    }
    &_info {
      color: #47525e;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__chart {
    &__title {
      color: #47525e;
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px;
    }
  }

  &__information {
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__bold {
      font-weight: 700;
      color: #47525e;
      margin-right: 6px;
    }
    &_toggle {
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 0px;
    font-size: 12px;
    margin-left: -20px;
  }
}

.inference {
  display: flex;
  flex-direction: column;
  position: relative;
  &__chart {
    :deep(circle) {
      r: 10;
    }
  }
  &__label {
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 100;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    color: #47525e;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.margin {
  margin-bottom: 80px;
}

.predicted_svg {
  width: 130px;
  margin-left: 30px;
  margin-top: -10px;
}

.fromTable {
  position: relative;
  left: -30px;
}
